<div class="body">
    <h1 class="rainbow-text">Hi <br> My dear friend  <br> wish you <br> happy <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_bGUoUyMIS5ywgvP990zLKahp9M2adxD7fKnv1gktgTEWZEnyjF--oGmkdcXqlpdC7J0&usqp=CAU"
                       style="width: 150px;" alt="logo"> <br> Diwali...</h1>

<div class="body2">
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</div>
</div>

